<div class="card" ng-click="click(id)">
    <img class="card-img-top" ng-show="picture" src="{{picture}}" alt="Karakterbilde">
    <div class="card-body" ng-show="title">
        <h5 class="card-title">{{title}}</h5>
    </div>
    <div class="rounded-0" ng-show="body">
        <table class="table table-striped rounded-0">
            <tbody>
                <tr ng-repeat="(key, value) in body">
                    <th>{{key}}</th>
                    <td class="text-right text-capitalize">{{value}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>